<section>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center">Add Book</h2>
                <form action="/admin/add-books" method="POST" enctype="multipart/form-data">

                    <label for="">No</label>
                    <input type="text" name="No" class="form-control" required="required">

                    <label for="">Name</label>
                    <input type="text" name="Name" class="form-control" required="required">

                    <label for="">Category</label>
                    <select id="categorySelect" class="form-control" name="Category" required="required">
                        <option>Select Category</option>
                        <option>ഇസ്‌ലാമിക് പഠനം</option>
                        <option>ഇസ്ലാമിക ചരിത്രം</option>
                        <option>പഠനം</option>
                        <option>ചരിത്രം</option>
                        <option>ലേഖനം</option>
                        <option>കഥ</option>
                        <option>നോവൽ</option>
                        <option>കവിത</option>
                        <option>യാത്ര</option>
                        <option>സ്മരണ</option>
                        <option>അനുഭവം</option>
                        <option>ഓർമ്മ</option>
                        <option>ജീവചരിത്രം</option>
                        <option>Philosophy</option>
                        <option>ആദർശം</option>
                        <option>Study</option>
                        <option>Novel</option>
                        <option>Story</option>
                        <option>Poem</option>
                        <option>Biography</option>
                        <option>Laibe and culture</option>
                        <option>Self help</option>
                    </select>

                    <label for="">Author</label>
                    <input type="text" name="Author" class="form-control" required="required">

                    <label for="">Publisher</label>
                    <input type="text" name="Publisher" class="form-control">

                    <label for="">Holds @</label>
                    <input type="text" name="Holder" class="form-control">

                    <label for="">Image</label>
                    <input type="file" name="image" class="form-control">

                    <button type="submit" class="btn btn-success mt-4">Submit</button>

                </form>
            </div>
        </div>
    </div>
</section>