<section>
    <div class="container">
        <div class="row justify-content-center p-5">
            <a class="card col-lg-3 m-2" href="">
                <img src="/images/up-arrow.svg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Issue Book</p>
                </div>
            </a>
            <a class="card col-lg-3 m-2" href="">
<img src="/images/down-arrow.svg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Return/Renew Book</p>
                </div>
            </a>

            <a href="" class="card col-lg-3 m-2">
<img src="/images/list-interface-symbol.svg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">List of Issued Books</p>
                </div>
            </a>

            <a href="/admin/add-books" class="card col-lg-3 m-2">
 <img src="/images/book-with-add-button.svg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Add Books</p>
                </div>
            </a>

            <a href="" class="card col-lg-3 m-2">
 <img src="/images/book-with-a-pencil-sign.svg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Edit Books</p>
                </div>
            </a>
            <a href="/admin/add-user" class="card col-lg-3 m-2">
<img src="/images/add-friend.svg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Add User</p>
                </div>
            </a>
          
                
            
            
        </div>
    </div>
</section>