<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
        <img style="height: 50px; width: 50px; margin-right: 10px;;" src="/images/wiras_logo.svg" alt="logo">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Books
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Catalogue</a>
                        <a class="dropdown-item" data-toggle="modal" data-target="#myModal">Issue/Return/Renew Book</a>
                        <a class="dropdown-item" href="#">List of Issued Books</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Manage
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/admin/books">Books</a>
                        <a class="dropdown-item" href="/admin/users">Users</a>
                        <a class="dropdown-item" href="/admin/authors">Authors</a>
                        <a class="dropdown-item" href="/admin/publishers">Publishers</a>
                        <a class="dropdown-item" href="/admin/categories">Categories</a>
                    </div>
                </li>

            </ul>

            <button class="btn btn-outline-success my-2 my-sm-0">Logout</button>

        </div>
    </nav>
</header>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Issue/Return/Renew</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <form action="/admin/user" method="POST" id="user-form">


            <label for="" class="sr-only">User ID</label>
            <input name="UserID" class="form-control" placeholder="eg: MSCU001" required autofocus>
          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" form="user-form" class="btn btn-primary">Next</button>
        </div>
      </div>
    </div>
  </div>