<!doctype html>
<html lang="en">

<head>

    <style>
        @font-face {
            font-family: 'Keraleeyam';
            /*src: url('font/meera-webfont.eot');*/
            src: url('/public/fonts/Keraleeyam-Regular.ttf') format('truetype'),

                url('/public/fonts/Keraleeyam-Regular.woff') format('woff'),
                url('/public/fonts/Keraleeyam-Regular.woff2') format('woff2'),

                font-weight: bold;
            font-style: normal;

        }

        #body {
            font-family: 'Keraleeyam';
        }
    </style>

    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
        integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>


    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    

    <title>Home</title>
</head>

<body id="body">
    {{#if admin}}
    {{>admin-header}}
    {{else}}
    {{>user-header}}
    {{/if}}
    {{{body}}}
    {{!-- ajax cdn --}}
   
 
    <!-- Optional JavaScript -->
    <script src="\javascripts\DataTables-1.10.24\ajax.js"></script>
    <script src="\javascripts\DataTables-1.10.24\custom.js"></script>
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


<!-- data table -->


    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">





</body>

</html>