<section>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center">Add Book</h2>
                <form id="add-book-form">

                    <label for="">Book No</label>
                    <input type="text" name="BookNo" class="form-control" required="required">

                    <label for="">Name</label>
                    <input type="text" name="Name" class="form-control" required="required">

                    <label for="">Author</label>

                    <select class="form-control" name="Author" required="required">
                        <option selected disabled>Select Author</option>
                        {{#each authors}}
                        <option>{{this.Name}}</option>
                        {{/each}}
                    </select>

                    <label for="">Publisher</label>
                    <select class="form-control" name="Publisher" required="required">
                        <option disabled selected>Select Publisher</option>
                        {{#each publishers}}
                        <option>{{this.Name}}</option>
                        {{/each}}
                    </select>
                    <label for="">Category</label>
                    <select id="categorySelect" class="form-control" name="Category" required="required">
                        <option disabled selected>Select Category</option>
                        {{#each categories}}
                        <option>{{this.Name}}</option>
                        {{/each}}
                    </select>
                    <input type="text" value="Library" hidden name="Holder" class="form-control">

                    <button type="submit" class="btn btn-success mt-4">Add</button>

                </form>
            </div>
        </div>
    </div>
</section>